/*--------Category Summary Score Board ------*/
.summary_content {
  display: inline-block;
  width: 50%;
  margin-left: 25%;
  padding: 30px;
}

.summary_content .scoreBoard {
  width: 80% !important;
  margin:20px auto;
  margin-left: 10%;
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#3a404d), to(#181c26));
  background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 10px;
  -webkit-box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
  box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
}
