
<div fxFlexFill class="freshBg"  fxLayout="row" fxLayoutAlign="center center" >
  <mat-card fxFlexAlign="center" fxFlexFill fxLayout="column" fxLayoutGap="10" fxLayoutAlign="space-evenly center" fxLayoutWrap>
    <mat-card-header>
      <h1 id="title" fxFlex.gt-lg="" fxFlexAlign.lt-lg="center" fxFlexAlign.gt-md="center"> Quix Timer</h1>
    </mat-card-header>


    <mat-card-content fxFlex fxFlexAlign="center">
      <mat-card>

        <mat-card-content fxLayoutGap="10" fxLayout="column" fxLayoutAlign="space-evenly center" class="timerBg" >
          <h3 fxFlex fxFlexAlign="center"> Remaining time  </h3>
          <div fxLayout="row" id="clockdiv">
            The Big New Guy is Here and He is Confused.
          </div>
          <mat-list    fxLayout="column">
            <mat-list-item fxFlex   fxLayout="row" fxLayoutGap="10px">
              <p class="startP"  fxFlex="30">Rounds :</p>
              <p class="startP"  fxFlex="70">3</p>
            </mat-list-item>
            <mat-list-item fxFlex fxLayout="row">
              <p class="startP"  fxFlex="30">Participating Teams :</p>
              <p class="startP"  fxFlex="70">[Hey, Tim]</p>
            </mat-list-item>
          </mat-list>


        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>


</div>

