        <div class="queInfo">
          <h2><span class="queNumber">Question {{question.id}} </span>
            <span class="remainingTime"><i class="ion-clock"></i>
            <span class="durationRem">{{remainingSec}} secs</span> </span> </h2>
        </div>
        <div class="quebody">
          <div class="quePanel">
            <p>{{ question.questionText }}
            </p>
          </div>
          <div class="answerOption"  *ngFor="let option of question.options; let i = index">
            <label for="option{{question.id}}{{i}}" class="check-label"> {{option}} </label>
            <div class="container" >
              <input type="checkbox" name="2" value="Mount Kilamanjaroo"
                     #check id="option{{question.id}}{{i}}" (change)="answerClicked(i, check.checked)"
                     [disabled]="(answerPicked | async) || (!teamTurn && questionSession) || (!teamBonus && bonusSession)"
                     [ngClass]="{'disabled': (answerPicked | async) || (!teamTurn && questionSession) || (!teamBonus && bonusSession)}"
                     [checked] = "selectedOptionIndex === i"/>
              <div class="checkmark"></div>
            </div>
          </div>
        </div>
