
/*------------- Question Page ---------*/


.quebody {
  background: rgba(190, 190, 190, 0.1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
  width: 90%;
  clear: both;
  margin-top: 20px;
  margin-left: 5%;
  padding: 20px;
  overflow: auto;
}

.que_content {
  display: inline-block;
  width: 50%;
  margin-left: 5%;
  float: left;
}

.queInfo {
  display: block;
  margin-left: 5%;
  line-height: 145%;
  float: left;
  width: 90%;
  background-color: rgba(190, 190, 190, 0.39);
  padding: 10px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.remainingTime{
  float: right;
  color: #ed5d4f;
}


.durationRem {
  padding: 0 20px;
  animation:  blink 1s linear 35s 10;
  -webkit-animation: blink 1s linear 35s  10;
}

@keyframes blink { 50% { color: transparent; } }
@-webkit-keyframes blink { 50% { color: transparent; } }

.quePanel {
  width: 90%;
  margin: 0 auto 20px;
  text-align: center;
  padding: 20px;
  background: #fff;
  color: #000;
  font-size: 150%;
  line-height: 145%;
  font-family: roboto, cursive;
  align-content: center;
  border-radius: 8px;
  box-shadow: 5px 5px 3px 0 #555;
}

.queNumber {
  float: left;
  padding-left: 20px;
}


input[type=checkbox] {
  display: inline-block;
  line-height: 145%;
  transition: all 0.5s;

}

input[type=checkbox]~label {
  font-size: 80%;
}
