<div class="logInSpace" *ngIf="regSuccess; else RegNotDonePage">
  <div class="logoArea">
    <img src="../../assets/img/appLogo.png" alt="quix_logo" class="quix_logo"/>
  </div>
  <div class="formArea">
    <h3>Welcome Back &#33;</h3>
    <form name="logIn">
      <label for="user">Username</label><br>
      <input [(ngModel)]="username" type="text" id="user" name="user" placeholder="enter your username" required/><br>
      <label for="team"> TeamName</label><br>
      <select [(ngModel)]="teamName" id="team" name="teamName" value="team">
        <option *ngFor="let team of teamList" [value]="team">{{team}}</option>

      </select><br>
      <button class="" type="submit"  (click)="logIn()"><span>Enter</span></button>
    </form>
  </div>
</div>

<ng-template #RegNotDonePage>

  <div class="logInSpace">
    <div class="gameInit">
      <h2>{{gameName}} is  not Online.</h2>
      <p id="ilink"> You can create one by visiting </p>
      <p class="link"><a href="http://localhost:4200/create"> Create Game Link</a></p>
    </div>
  </div>
</ng-template>
