
/*--------- log in --------------*/
.logInSpace {
  background: rgba(190, 190, 190, 0.1);
  border-radius: 5px;
  display:block;
  margin:20px auto;
  width: 50%;
  overflow: auto;
}


.logoArea {
  display: inline-block;
  width: 40%;
  float: left;
  background: #fff;
}

.quix_logo {
  width: 100%;
  height: auto;
  margin: 10% auto;
}

.formArea {
  display: inline-block;
  padding: 20px;
  padding-left: 40px;
  text-align:left;
  width: 60%;
}

.formArea h3 {
  text-align: center;
  font-size: 130%;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 1px;
  margin-bottom: 30px;
  color: #fff;
}

label {
  margin: 30px 0;
}

input[type=text], select {
  background-color: transparent;
  padding: 3px;
  font-size: 100%;
  color: #969696;
  width: 80%;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 10%;
}

select {
  border-radius: 5px;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid #969696;
}


input[type=text]:focus {
  height: 50px;
  color: #e6e6e6;
  border-bottom: 2px solid #e6e6e6;
}



*:focus {
  outline: none;
}


.formArea button {
  background-color: #e74c3c;
  color: #fff;
  font-size: 20px;
  padding: 5px;
  width: 80%;
  margin-top: 25px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: color 0.2s;
  cursor: pointer;
  margin-left: 10%;
  outline: none;
}

.formArea button span {
  font-family:  cursive,sans-serif, monospace;
  display: inline-block;
  position: relative;
}

.formArea button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}


.formArea button:hover span{
  padding-right: 25px;
}

.formArea button:hover span:after{
  opacity: 1;
  right: 0;
}

label {
  font-size: 90%;
}
