
<!--<mat-toolbar fxFlexOffset="20" fxFlex="60" style="min-height: 20px" color="primary">-->
  <!--&lt;!&ndash;<div fxLayout="column">&ndash;&gt;-->
  <!--&lt;!&ndash;<div fxLayout="row">&ndash;&gt;-->
  <!--<span  class="toolBarTitle">{{notificationMessage | async}}</span>-->
  <!--<span fxFlex></span>-->
  <!--<span class="toolBarKey"> Remaining Time</span>-->
  <!--<span class="toolBarValue"> {{duration}}</span>-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--</mat-toolbar>-->

<div class="queNotific generalInfo">
  <h2> {{notificationMessage | async}}</h2>
</div>
