
.queNotific {
  display: block;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 145%;
  width: 90%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}


.generalInfo {
  background-color: rgba(60, 231, 126, 0.65);
  box-shadow: 1px 1px 10px rgba(60, 231, 126, 0.65);
}

.turnToPickInfo {
  background-color: rgba(160, 238, 136, 0.84);
  box-shadow: 1px 1px 10px rgba(160, 238, 136, 0.84);
}

.bonusInfo {
  background-color: #e74c3c;
  box-shadow: 1px 1px 10px rgba(231, 76, 60, 0.65);
}

.wrongAnswerInfo {
  background-color: rgba(160, 45, 34, 0.87);
  box-shadow: 1px 1px 10px rgba(160, 45, 34, 0.87);
}

.correctAnswerInfo {
  background-color: rgba(104, 179, 126, 0.86);
  box-shadow: 1px 1px 10px  rgba(104, 179, 126, 0.86);
}

.queInfo h2 , .queNotific h2{
  font-weight: 100;
}
