
<mat-toolbar color="primary">
  <!--<div fxLayout="column">-->
    <!--<div fxLayout="row">-->
      <span  class="toolBarTitle">Herald International Quiz</span>
      <span fxFlex></span>
      <span class="toolBarKey">Member :</span>
      <span class="toolBarValue">{{member}}</span>
      <span class="toolBarKey">Team :</span>
      <span class="toolBarValue">{{teamName}} </span>
      <span class="toolBarKey">Score :</span>
      <span class="toolBarValue">{{score}}</span>
      <span class="toolBarKey">Position :</span>
      <span class="toolBarValue">{{position}}</span>
      <span class="toolBarKey">Status :</span>
      <span class="toolBarValue">{{status ? 'Qualified' : 'Disqualified'}}</span>
    <!--</div>-->
  <!--</div>-->

</mat-toolbar>

