mat-toolbar {
  background-color: #ff8c64;
}
.toolBarTitle{
  font-size: 15px;
  font-family: "Lato Black", monospace;
}
.toolBarKey {
  font-size: 15px;
  font-family: "Lato Black", monospace;
  padding: 2px;
  margin-right: 10px;
}

.toolBarValue {
  font-size: 15px;
  font-family: Monaco, "Lucida Console", monospace;
  padding: 2px;
  margin-right: 10px;
}
