* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;;
}

/*--------Timer Section --------*/

.timerSpace {
  display: inline-block;
  width: 60%;
  margin-left: 20%;
  padding: 30px;
}

.itime {
  background: rgba(190, 190, 190, 0.1);
  border-radius: 5px;
  display: inline-block;
  width: 90%;
  clear: both;
  margin-top: 20px;
  margin-left: 5%;
  padding: 10%;
  color: #e72c3c;
  text-align: center;
  font-size: 400%;

}
